body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f4f4;
}

h2 {
    color: darkblue;
}

input {
    padding: 5px;
    width: 250px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#message {
    font-weight: bold;
    margin-top: 15px;
}